.banner {
	&LeftBackground {
		width: 1050px;
		height: 800px;
	}
}
.bannerMenu {
	user-select: none;
	display: flex;
	height: 800px;
}
.container {
	width: 1905px;
	margin: 0px auto;
}
.bannerRight {
	margin-top: 50px;
	margin-left: 44px;
	&Title {
		margin-top: 54px;
		font-size: 5.25rem;
		line-height: 98px;
		font-weight: 900;
		color: #000000;
	}
	&Title2 {
		margin-top: 46px;
		font-size: 42px;
		line-height: 49px;
		color: #000000;
	}
}
.sign {
	margin-top: 44px;
}
.login {
	display: flex;
	justify-content: center;
	border: 1px solid #e4eaed;
	width: 403px;
	height: 62px;
	border-radius: 42px;
	margin: 20px 0;
	cursor: pointer;
	&Button {
		display: flex;
		align-items: center;
		border: none;
		background-color: #fff;
		cursor: pointer;
		&Span {
			font-size: 20px;
			line-height: 23px;
		}
	}
}
.cookies {
	margin-top: 23px;
	&Info {
		width: 373px;
		font-size: 14px;
		line-height: 1.5;
	}
	&Account {
		position: relative;
		top: 1rem;
		font-size: 19px;
	}
}
